[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.2"
networkx = ">=2.5"
Jinja2 = ">=2.11.3"
dataclasses = "*"
PyYAML = ">=5.3.1"
dataclasses-jsonschema = ">=2.13.0"
flake8-bugbear = ">=20.11.1"
PyInquirer = ">=1.0.3"
colorama = "<=0.4.4"

[dev-packages]
oliver-twist = {editable = true,path = "."}
pytest = ">=6.2.0"
pre-commit = "*"
black = ">=20.8b1"
flake8 = ">=3.8.4"
mkdocs = ">=1.1.2"
mkdocs-material = ">=6.2.3"
pymdown-extensions = ">=8.1"

[requires]
python_version = "3.8"
